body {
    margin: 0;
    padding: 0;
    background-color: #001a00;
}

#myCanvas {
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
}
